@model IEnumerable<Kurs>

    <h2>Kurs Listesi</h2>
    <hr>

    <a asp-controller="Kurs" asp-action="Create" class="btn btn-secondary">Kurs Kayıt</a>
    <hr>

    <table class="table border">
        <thead>
            <tr>
                <th style="width: 150px;">@Html.DisplayNameFor(m => m.KursId)</th>
                <th>@Html.DisplayNameFor(m => m.Baslik)</th>
                <th style="width: 500px;">Kursu Veren Öğretmen</th>
                <th style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.KursId)</td>
                <td>@Html.DisplayFor(modelItem => item.Baslik)</td>
                <td>@Html.DisplayFor(modelItem => item.Ogretmen.AdSoyad)</td>
                <td>
                    <a asp-controller="Kurs" asp-action="Edit" asp-route-id="@item.KursId"
                        class="btn btn-primary">Düzenle</a>
                    <a asp-controller="Kurs" asp-action="Delete" asp-route-id="@item.KursId"
                        class="btn btn-danger">Sil</a>
                </td>
            </tr>
            }
        </tbody>
    </table>